* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 31);
  color: white;
  font-family: "Poppins", sans-serif;
}
hr {
  background-color: rgb(77, 77, 255);
  border: 0px;
  height: 1.5px;
  margin: 0 80px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 80px;
  background-color: rgb(7, 7, 56);
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin: 0 20px;
}
.btn-header {
  background-color: #3c84ff; /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}
.btn-header:hover {
  font-size: 15.5px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: rgb(77, 77, 255);
  font-size: 16.5px;
}
.logo {
  font-size: 1.8rem;
}
#home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1% 0;
  height: 100vh;
}
.home > div {
  width: 30%;
}

.left {
  /* width: 50%;
  background-color: red; */
  margin: 20px 10px;
  padding: 10px 20px;
}
.right {
  /* width: 50%;
  background-color: rgb(223, 220, 220); */
}
.left p {
  font-size: 35px;
}
.left #name {
  font-size: 50px;
  color: rgb(77, 77, 255);
}
#element {
  color: rgb(251, 255, 24);
}
/* hr {
  background-color: rgb(77, 77, 255);
  border: 0px;
  height: 1.5px;
  margin: 0 80px;
} */
#skills {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  margin: 0 5%;
}
.arrange1 {
  width: 10%;
  margin: 2% 5%;
  /* background-color: red; */
}
.arrange1 p {
  font-size: 30px;
}
.arrange2 {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  /* background-color: green; */
}
.sk-left {
  font-size: 20px;
}
.arrange2 .sk-left {
  width: 50%;

  /* background-color: red; */
}
.sk-left .sk-left-1 {
  width: 20%;
  height: 10%;
  padding: 20px 20px;
  margin: 5px 0;
  background-color: rgb(7, 7, 56);
}
.sk-left .sk-left-1 img {
  align-items: center;
  width: 80px;
  height: 80px;
}

.sk-left .sk-left-2 {
  width: 20%;
  height: 10%;
  padding: 20px 20px;
  margin: 5px 0;
  background-color: rgb(7, 7, 56);
}
.sk-left .sk-left-2 img {
  align-items: center;
  width: 80px;
  height: 80px;
}
.sk-left .sk-left-3 {
  width: 20%;
  height: 10%;
  padding: 20px 20px;
  margin: 5px 0;
  background-color: rgb(7, 7, 56);
}
.sk-left .sk-left-3 img {
  align-items: center;
  width: 100px;
  height: 80px;
}
.sk-left .sk-left-4 {
  width: 20%;
  height: 10%;
  padding: 20px 20px;
  margin: 5px 0;
  background-color: rgb(7, 7, 56);
}
.sk-left .sk-left-4 img {
  align-items: center;
  width: 120px;
  height: 80px;
}
.arrange2 .sk-right {
  width: 50%;
  /* background-color:pink; */
}
.sk-right {
  font-size: 20px;
}
.sk-right .sk-right-1 {
  width: 20%;
  height: 10%;
  padding: 20px 20px;
  margin: 5px 0;
  background-color: rgb(7, 7, 56);
}

.sk-right .sk-right-1 img {
  align-items: center;
  width: 100px;
  height: 80px;
}
.sk-right .sk-right-2 {
  width: 20%;
  height: 10%;
  padding: 20px 20px;
  margin: 5px 0;
  background-color: rgb(7, 7, 56);
}
.sk-right .sk-right-2 img {
  align-items: center;
  width: 100px;
  height: 80px;
}

.sk-right .sk-right-3 {
  width: 20%;
  height: 10%;
  padding: 20px 20px;
  margin: 5px 0;
  background-color: rgb(7, 7, 56);
}
.sk-right .sk-right-3 img {
  align-items: center;
  width: 120px;
  height: 85px;
}
.sk-right .sk-right-4 {
  width: 20%;
  height: 10%;
  padding: 20px 20px;
  margin: 5px 0;
  background-color: rgb(7, 7, 56);
}
.sk-right .sk-right-4 img {
  align-items: center;
  width: 110px;
  height: 80px;
}

#experience {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 180vh;
}
#year-col {
  color: yellow;
}
.ex-top p {
  font-size: 30px;
  width: 100%;
  /* background-color: red; */
}
.ex-bottom {
  margin-top: 5%;
  width: 80%;
  /* background-color: rgb(158, 115, 115); */
}
.ex-1 {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: row;
  width: 100%;
  padding: 40px 0;

  background-color: rgb(7, 7, 56);
}
.ex-leftno-1 {
  font-size: 20px;
  width: 10%;
  background-color: rgb(23, 17, 76);
}
.ex-rightno-1 {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 5%;
  background-color: rgb(23, 17, 76);
}
.com-logo {
  width: 150px;
  /* background-color: red; */
}
.com-logo img {
  margin-top: 40px;
  width: 100px;
  height: 100px;
}
.com-det {
  margin-left: 10px;
}
.ex-2 {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: row;
  width: 100%;
  padding: 40px 0;
  background-color: rgb(7, 7, 56);
}
.ex-leftno-2 {
  font-size: 20px;
  width: 10%;
  background-color: rgb(23, 17, 76);
}
.ex-rightno-2 {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 5%;
  background-color: rgb(23, 17, 76);
}
.ex-rightno-2 .com-logo img {
  margin-top: 40px;
  width: 145px;
  height: 75px;
}

.ex-3 {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: row;
  width: 100%;
  padding: 40px 0;
  background-color: rgb(7, 7, 56);
}
.ex-leftno-3 {
  font-size: 20px;
  width: 10%;
  background-color: rgb(23, 17, 76);
}
.ex-rightno-3 {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 5%;
  background-color: rgb(23, 17, 76);
}

.ex-rightno-3 .com-logo img {
  margin-top: 40px;
  width: 145px;
  height: 75px;
}
#aboutme {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 120vh;
}
.me-header {
  /* width: 100%; */
  font-size: 25px;
  /* background-color: red; */
}

.me-below {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5% 0;
  /* background-color: rgb(255, 208, 208); */
}
.me-left {
  width: 40%;
  margin: 1% 10%;
  /* background-color: aqua; */
}
.me-left img {
  width: 100%;
  height: 100%;
}
.me-right {
  width: 60%;
  margin: 1% 10%;
  padding: 30px 10px;
  background-color: rgb(23, 17, 76);
}

#contactme {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}
.con-header {
  font-size: 20px;
  width: 100%;
  /* background-color: wheat; */
}
.con-details {
  width: 80%;
  margin: 5% 10%;
  font-size: 20px;
  /* background-color: rgb(119, 132, 132); */
}

.btn {
  background-color: #181e81; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}
.btn:hover {
  font-size: 16px;
  color: #eaebff;
}
.footer {
  font-size: 15px;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(11, 0, 57);
  color: white;
  text-align: center;
}
.footer p a {
  text-decoration: none;
  color: white;
}

/* Media query screen size adjustment */

@media screen and (max-width: 1150px) {
  #experience {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 180vh;
  }

  #aboutme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 155vh;
  }
}

@media screen and (max-width: 1024px) {
  #experience {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 180vh;
  }

  #aboutme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 145vh;
  }
}

@media screen and (max-width: 1000px) {
  #experience {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 190vh;
  }

  #aboutme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 155vh;
  }
}

@media screen and (max-width: 925px) {
  .logo {
    font-size: 1.2rem;
  }
  .main-menu {
    font-size: 15px;
  }
}

@media screen and (max-width: 865px) {
  /*Asus zenbook fold screen*/
  #skills {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    margin: 0 5%;
  }
  #experience {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 240vh;
  }
  .ex-rightno-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }

  .ex-rightno-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  .ex-rightno-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  #aboutme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 130vh;
  }

  .me-left {
    display: none;
  }
  #contactme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 75vh;
  }
  .me-left {
    width: 100%;
    height: 40%;
    margin: 1% 3%;
    /* background-color: aqua; */
  }
}

@media screen and (max-width: 856px) {
  #skills {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    margin: 0 5%;
  }
  #experience {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 240vh;
  }
  .ex-rightno-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }

  .ex-rightno-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  .ex-rightno-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  #aboutme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 130vh;
  }

  .me-left {
    display: none;
  }
  #contactme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 75vh;
  }
  .me-left {
    width: 100%;
    height: 40%;
    margin: 1% 3%;
    /* background-color: aqua; */
  }
}

@media screen and (max-width: 821px) {
  #skills {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    margin: 0 5%;
  }
  #experience {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 240vh;
  }
  .ex-rightno-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }

  .ex-rightno-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  .ex-rightno-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  #aboutme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 130vh;
  }

  .me-left {
    display: none;
  }
  #contactme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 75vh;
  }
  .me-left {
    width: 100%;
    height: 40%;
    margin: 1% 3%;
    /* background-color: aqua; */
  }
}

@media screen and (max-width: 815px) {
  #skills {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    margin: 0 5%;
  }
  #experience {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 280vh;
  }
  .ex-rightno-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }

  .ex-rightno-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  .ex-rightno-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  #aboutme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 130vh;
  }

  .me-left {
    display: none;
  }
  #contactme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 75vh;
  }
  .me-left {
    width: 100%;
    height: 40%;
    margin: 1% 3%;
    /* background-color: aqua; */
  }
}

@media screen and (max-width: 720px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 80px;
    background-color: rgb(7, 7, 56);
  }
  .btn-header {
    display: block;
  }

  #experience {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 300vh;
  }
  .ex-rightno-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }

  .ex-rightno-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  .ex-rightno-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  #aboutme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 130vh;
  }

  .me-left {
    display: none;
  }
  #contactme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 75vh;
  }
  .me-left {
    width: 100%;
    height: 40%;
    margin: 1% 3%;
    /* background-color: aqua; */
  }
}

@media screen and (max-width: 665px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 80px;
    background-color: rgb(7, 7, 56);
  }
  .btn-header {
    display: block;
  }
  #experience {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 280vh;
  }
  .ex-rightno-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }

  .ex-rightno-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  .ex-rightno-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  #aboutme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 150vh;
  }

  .me-left {
    display: none;
  }
  #contactme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 75vh;
  }
  .me-left {
    width: 100%;
    height: 40%;
    margin: 1% 3%;
    /* background-color: aqua; */
  }
}

@media screen and (max-width: 525px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 80px;
    background-color: rgb(7, 7, 56);
  }
  .btn-header {
    display: block;
  }

  .arrange2 {
    margin: 10%;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    /* background-color: green; */
  }
  #experience {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 280vh;
  }
  .ex-rightno-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }

  .ex-rightno-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  .ex-rightno-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  #aboutme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 150vh;
  }

  .me-left {
    display: none;
  }
  #contactme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 75vh;
  }
  .me-left {
    width: 100%;
    height: 40%;
    margin: 1% 3%;
    /* background-color: aqua; */
  }
}

@media screen and (max-width: 475px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 80px;
    background-color: rgb(7, 7, 56);
  }
  .btn-header {
    display: none;
  }

  #experience {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 300vh;
  }
  .ex-rightno-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }

  .ex-rightno-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  .ex-rightno-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  #aboutme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 150vh;
  }

  .me-left {
    display: none;
  }
  #contactme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 75vh;
  }
  .me-left {
    width: 100%;
    height: 40%;
    margin: 1% 3%;
    /* background-color: aqua; */
  }
}

@media screen and (max-width: 445px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 80px;
    background-color: rgb(7, 7, 56);
  }
  .btn-header {
    display: none;
  }

  #experience {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 300vh;
  }
  .ex-rightno-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }

  .ex-rightno-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  .ex-rightno-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  #aboutme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 180vh;
  }

  .me-left {
    display: none;
  }
  #contactme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 75vh;
  }
  .me-left {
    width: 100%;
    height: 40%;
    margin: 1% 3%;
    /* background-color: aqua; */
  }
}

@media screen and (max-width: 410px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 80px;
    background-color: rgb(7, 7, 56);
  }
  .btn-header {
    display: none;
  }

  #experience {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 310vh;
  }
  .arrange2 {
    margin: 10%;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    /* background-color: green; */
  }
  .ex-rightno-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }

  .ex-rightno-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  .ex-rightno-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  #aboutme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 180vh;
  }

  .me-left {
    display: none;
  }
  #contactme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 75vh;
  }
  .me-left {
    width: 100%;
    height: 40%;
    margin: 1% 3%;
    /* background-color: aqua; */
  }
}

@media screen and (max-width: 391px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  #experience {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 240vh;
  }
  .arrange2 {
    margin: 10%;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    /* background-color: green; */
  }
  #aboutme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 150vh;
  }

  #contactme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 55vh;
  }
}

@media screen and (max-width: 380px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 80px;
    background-color: rgb(7, 7, 56);
  }
  .btn-header {
    display: none;
  }

  #experience {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 350vh;
  }
  .ex-rightno-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }

  .ex-rightno-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  .ex-rightno-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  #aboutme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 200vh;
  }

  .me-left {
    display: none;
  }
  #contactme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 75vh;
  }
  .me-left {
    width: 100%;
    height: 40%;
    margin: 1% 3%;
    /* background-color: aqua; */
  }
}

@media screen and (max-width: 361px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 80px;
    background-color: rgb(7, 7, 56);
  }
  .btn-header {
    display: none;
  }

  #experience {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 350vh;
  }
  .arrange2 {
    margin: 10%;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    /* background-color: green; */
  }
  .ex-rightno-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }

  .ex-rightno-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  .ex-rightno-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  #aboutme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 200vh;
  }

  .me-left {
    display: none;
  }
  #contactme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 75vh;
  }
  .me-left {
    width: 100%;
    height: 40%;
    margin: 1% 3%;
    /* background-color: aqua; */
  }
}

@media screen and (max-width: 361px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 80px;
    background-color: rgb(7, 7, 56);
  }
  .btn-header {
    display: none;
  }

  #experience {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 350vh;
  }
  .arrange2 {
    margin: 15%;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    /* background-color: green; */
  }
  .ex-rightno-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }

  .ex-rightno-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  .ex-rightno-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  #aboutme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 200vh;
  }

  .me-left {
    display: none;
  }
  #contactme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 75vh;
  }
  .me-left {
    width: 100%;
    height: 40%;
    margin: 1% 3%;
    /* background-color: aqua; */
  }
}

@media screen and (max-width: 300px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 80px;
    background-color: rgb(7, 7, 56);
  }
  .btn-header {
    display: none;
  }

  #experience {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 350vh;
  }
  .ex-rightno-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }

  .ex-rightno-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  .ex-rightno-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  #aboutme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 230vh;
  }

  .me-left {
    display: none;
  }
  #contactme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 75vh;
  }
  .me-left {
    width: 100%;
    height: 40%;
    margin: 1% 3%;
    /* background-color: aqua; */
  }
}

@media screen and (max-width: 300px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 80px;
    background-color: rgb(7, 7, 56);
  }
  .btn-header {
    display: none;
  }

  #experience {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 380vh;
  }
  .ex-rightno-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }

  .ex-rightno-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  .ex-rightno-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 5%;
    background-color: rgb(23, 17, 76);
  }
  #aboutme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 230vh;
  }

  .me-left {
    display: none;
  }
  #contactme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 75vh;
  }
  .me-left {
    width: 100%;
    height: 40%;
    margin: 1% 3%;
    /* background-color: aqua; */
  }
}
